HTTP_PORT= 2610
TCP_PORT= 2611

NOTIFICATIONS_HOST = notifications
NOTIFICATIONS_PORT = 2613

JWT_SECRET=secret
JWT_EXPIRATION=3600

POSTGRES_USERNAME= postgres
POSTGRES_DATABASE= vayu
POSTGRES_PASSWORD = postgres
POSTGRES_HOST= postgres
POSTGRES_PORT= 5432
POSTGRES_SYNCHRONIZE= true 

FULL_WEB_URL = http://localhost:3000
